<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="product1" class="my.spring.core.Product">
        <constructor-arg name="productId" value="A-123" />
        <constructor-arg name="productName" value="Laptop" />
        <constructor-arg name="productDesc" value="Some laptop" />
    </bean>
    <bean id="product2" class="my.spring.core.Product">
        <constructor-arg name="productId" value="A-124" />
        <constructor-arg name="productName" value="Harddrive" />
        <constructor-arg name="productDesc" value="Some harddrive" />
    </bean>
</beans>
